.EditDialogTtitle{
    font-family: 'Rajdhani', sans-serif !important;
    font-weight: bolder!important;
    font-size:1.5em !important;
    color:#108c8e;
}

.Context{
    font-family: 'PT Sans', sans-serif !important;
}

#description{
    border-color:#108c8e !important;
    outline:none;
    border:none;
}

.CancelEdit,.SubmitEdit{
    padding:.7em;
    border-radius:10px;
    outline:none;
    color:white;
    background-color:#108c8e;
    border:none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin:0.2em 1em;
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
    transition:.2s ease-in-out;
}

.CancelEdit:hover,.SubmitEdit:hover{
    transform:translateY(-5px);
}

.SubmitEdit{
background: #094561;
}

.Textarea{
    transition: .2s ease-in-out;
    outline:none;
    border:1px solid #dbdbdb;
    border-radius: 10px;
}

.Textarea:focus{
    border:1px solid #094561;
}