.ButtonToggle{
    font-weight: bolder;
    font-family: 'PT Sans', sans-serif;
    margin-right:10px!important;
    text-align: center;
    vertical-align: center;
    color:#108c8e;
    cursor:pointer;
    font-size:1em;
    margin-top: 0;
}

.MenuItem{
    font-family: 'PT Sans', sans-serif!important;
    font-weight: bold;
    font-size: .9em;
}

.Menu{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondIcon{
    margin-right:15px;
}

.thirdIcon{
    margin-right:0px;
}
